p {
  margin-top: 2px;
  font-size: 10px;
}

.hamburger_icon {
  height: 40px;
  width: 40px;
  margin-left: 5px;
}
.youtube_logo_icon {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-left: 20px;
}
.search_box {
  display: flex;
  flex: 1;
  height: 30px;
  justify-content: center;
  max-width: 450px;
  border-color: rgb(233, 233, 233);
}
.search_button {
  width: 60px;
  height: 36px;
  border-radius: 2px;
  border-color: rgb(156, 156, 156);
  border-style: solid;
  margin-left: -5px;
  margin-right: 10px;
}
.search_button_image {
  width: 25px;
  height: 25px;
}

.voice_search_button {
  display: flex;
  height: 36px;
  width: 36px;
  border-radius: 18px;
  justify-content: center;
  border: none;
  background-color: rgb(218, 218, 218);
  padding-top: 5px;
}

.voice_search_button_image {
  height: 25px;
  width: 25px;
}
.upload_image {
  width: 30px;
}
.youtube_app_image {
  width: 30px;
}

.notifications_image {
  width: 30px;
}

.user_image {
  width: 30px;
  border-radius: 15px;
}

.side_icons {
  height: 25px;
}
.channel_image{
  border-radius: 20px;
  height: 40px;
 
}
.thumbil_discription{
  font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
